* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* img {
    float:inline-end;
    width:  275px;
    height: 275px;
    object-fit: cover;
} */
body{
height:175vh;
   background:linear-gradient(to right, #66ffcc 0%, #ff99cc 100%);
   display:flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
.card{
    position:relative;
    

    transform-style: preserve-3d;
}
section{
display : grid;
grid-template-columns: repeat(6, 12rem);
grid-template-rows: repeat(6, 12rem);
grid-gap: 2rem;
}
.face,
.back{
height: 100%;
width: 100%;
position: absolute;
}
.back{background: white;
    visibility: hidden;
}

